# Creating our own dataset from Johns Hopkins COVID Dataset

PLEASE NOTE THAT THIS NOTEBOOK CONTAINS ERRORS THAT I MADE. PLEASE IGNORE IT FOR NOW, I WILL FIX IT LATER!!!

## Importing Libraries and Dependencies

In [1]:
import numpy as np
import pandas as pd
import os, sys, json
import matplotlib
from matplotlib import pyplot as plt

## Importing data

We are interested in analyzing the `.csv` files compiled and provided by the Johns Hopkins University, that can be [accessed here](https://data.humdata.org/dataset/novel-coronavirus-2019-ncov-cases). There are 6 different files to analyze: `time_series_2019-ncov-Confirmed.csv`, `time_series_2019-ncov-Recovered.csv`, `time_series_2019-ncov-Deaths.csv`, `time_series-ncov-Confirmed.csv`, `time_series-ncov-Recovered.csv` and `time_series-ncov-Deaths.csv`. As their name says, there are two different styles of file, and we also need to understand what changes between them.

PS: Later on, the Johns Hopkins University introduces a third pattern of data which was considered in this analysis and replaces the second pattern.

The files are downloaded into the `data/` folder, and they will be loaded using `pandas`.

In [2]:
datapath = '../data'
ts_2019_deaths = pd.read_csv(f'{datapath}/time_series_2019-ncov-Deaths.csv')
ts_2019_recov = pd.read_csv(f'{datapath}/time_series_2019-ncov-Recovered.csv')
ts_2019_conf = pd.read_csv(f'{datapath}/time_series_2019-ncov-Confirmed.csv')

ts_deaths = pd.read_csv(f'{datapath}/time_series-ncov-Deaths.csv')
ts_recov = pd.read_csv(f'{datapath}/time_series-ncov-Recovered.csv')
ts_conf = pd.read_csv(f'{datapath}/time_series-ncov-Confirmed.csv')

ts_n_deaths = pd.read_csv(f'{datapath}/time_series_covid19_deaths_global_narrow.csv')
ts_n_recov = pd.read_csv(f'{datapath}/time_series_covid19_recovered_global_narrow.csv')
ts_n_conf = pd.read_csv(f'{datapath}/time_series_covid19_confirmed_global_narrow.csv')

Lets look into the the Confirmed cases file of the pattern that contains `2019` in the name:

In [3]:
ts_2019_conf.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0

We can realize that some columns refer to the identification of the entity, with information such as the name of the country and its latitude and longitude. The rest of the columns refer to every day since January 22, 2020. By generalization, we will assume that the other two files of this pattern have the same column style.

Lets now look what changes between the patterns by looking into the second:

In [4]:
ts_conf.head()

,Province/State,Country/Region,Lat,Long,Date,Value
0,#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num
1,NaN,Afghanistan,33.0,65.0,2020-03-23,40
2,NaN,Afghanistan,33.0,65.0,2020-03-22,40
3,NaN,Afghanistan,33.0,65.0,2020-03-21,24
4,NaN,Afghanistan,33.0,65.0,2020-03-20,24

Besides the first row, which seems to be a header, we now have the same information structured differently: each row represents a day in a Country or a Province, and the `Value` column represents the number of Confirmed cases in that day. Considering that we want to extract the number of Confirmed, Recovered and Death cases, this last structure configuration is more interesting.

Lets look into a Country to confirm that the days have the same range:

In [5]:
ts_conf[ts_conf['Country/Region'] == 'Afghanistan']

   Province/State Country/Region   Lat  Long        Date Value
1             NaN    Afghanistan  33.0  65.0  2020-03-23    40
2             NaN    Afghanistan  33.0  65.0  2020-03-22    40
3             NaN    Afghanistan  33.0  65.0  2020-03-21    24
4             NaN    Afghanistan  33.0  65.0  2020-03-20    24
5             NaN    Afghanistan  33.0  65.0  2020-03-19    22
6             NaN    Afghanistan  33.0  65.0  2020-03-18    22
7             NaN    Afghanistan  33.0  65.0  2020-03-17    22
8             NaN    Afghanistan  33.0  65.0  2020-03-16    21
9             NaN    Afghanistan  33.0  65.0  2020-03-15    16
10            NaN    Afghanistan  33.0  65.0  2020-03-14    11
11            NaN    Afghanistan  33.0  65.0  2020-03-13     7
12            NaN    Afghanistan  33.0  65.0  2020-03-12     7
13            NaN    Afghanistan  33.0  65.0  2020-03-11     7
14            NaN    Afghanistan  33.0  65.0  2020-03-10     5
15            NaN    Afghanistan  33.0  65.0  2020-03-09     4
16            NaN    Afghanistan  33.0  65.0  2020-03-08     4
17            NaN    Afghanistan  33.0  65.0  2020-03-07     1
18            NaN    Afghanistan  33.0  65.0  2020-03-06     1
19            NaN    Afghanistan  33.0  65.0  2020-03-05     1
20            NaN    Afghanistan  33.0  65.0  2020-03-04     1
21            NaN    Afghanistan  33.0  65.0  2020-03-03     1
22            NaN    Afghanistan  33.0  65.0  2020-03-02     1
23            NaN    Afghanistan  33.0  65.0  2020-03-01     1
24            NaN    Afghanistan  33.0  65.0  2020-02-29     1
25            NaN    Afghanistan  33.0  65.0  2020-02-28     1
26            NaN    Afghanistan  33.0  65.0  2020-02-27     1
27            NaN    Afghanistan  33.0  65.0  2020-02-26     1
28            NaN    Afghanistan  33.0  65.0  2020-02-25     1
29            NaN    Afghanistan  33.0  65.0  2020-02-24     1
30            NaN    Afghanistan  33.0  65.0  2020-02-23     0
31            NaN    Afghanistan  33.0  65.0  2020-02-22     0
32            NaN    Afghanistan  33.0  65.0  2020-02-21     0
33            NaN    Afghanistan  33.0  65.0  2020-02-20     0
34            NaN    Afghanistan  33.0  65.0  2020-02-19     0
35            NaN    Afghanistan  33.0  65.0  2020-02-18     0
36            NaN    Afghanistan  33.0  65.0  2020-02-17     0
37            NaN    Afghanistan  33.0  65.0  2020-02-16     0
38            NaN    Afghanistan  33.0  65.0  2020-02-15     0
39            NaN    Afghanistan  33.0  65.0  2020-02-14     0
40            NaN    Afghanistan  33.0  65.0  2020-02-13     0
41            NaN    Afghanistan  33.0  65.0  2020-02-12     0
42            NaN    Afghanistan  33.0  65.0  2020-02-11     0
43            NaN    Afghanistan  33.0  65.0  2020-02-10     0
44            NaN    Afghanistan  33.0  65.0  2020-02-09     0
45            NaN    Afghanistan  33.0  65.0  2020-02-08     0
46            NaN    Afghanistan  33.0  65.0  2020-02-07     0
47            NaN    Afghanistan  33.0  65.0  2020-02-06     0
48            NaN    Afghanistan  33.0  65.0  2020-02-05     0
49            NaN    Afghanistan  33.0  65.0  2020-02-04     0
50            NaN    Afghanistan  33.0  65.0  2020-02-03     0
51            NaN    Afghanistan  33.0  65.0  2020-02-02     0
52            NaN    Afghanistan  33.0  65.0  2020-02-01     0
53            NaN    Afghanistan  33.0  65.0  2020-01-31     0
54            NaN    Afghanistan  33.0  65.0  2020-01-30     0
55            NaN    Afghanistan  33.0  65.0  2020-01-29     0
56            NaN    Afghanistan  33.0  65.0  2020-01-28     0
57            NaN    Afghanistan  33.0  65.0  2020-01-27     0
58            NaN    Afghanistan  33.0  65.0  2020-01-26     0
59            NaN    Afghanistan  33.0  65.0  2020-01-25     0
60            NaN    Afghanistan  33.0  65.0  2020-01-24     0
61            NaN    Afghanistan  33.0  65.0  2020-01-23     0
62            NaN    Afghanistan  33.0  65.0  2020-01-22     0

Since the days also range from January 22, 2020 to March 23, 2020, they are perfect to use.

### UPDATE

A few days after we first did this, the Johns Hopkins University stoped releasing the second pattern of datasets and started releasing a third pattern. Lets take a peek into the ts_n pattern to check if they have the same features.

In [6]:
ts_n_conf.head()

,Province/State,Country/Region,Lat,Long,Date,Value,ISO 3166-1 Alpha 3-Codes,Region Code,Sub-region Code,Intermediate Region Code
0,#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num,#country+code,#region+main+code,#region+sub+code,#region+intermediate+code
1,NaN,Afghanistan,33.0,65.0,2020-04-04,299,AFG,142,34,NaN
2,NaN,Afghanistan,33.0,65.0,2020-04-03,281,AFG,142,34,NaN
3,NaN,Afghanistan,33.0,65.0,2020-04-02,273,AFG,142,34,NaN
4,NaN,Afghanistan,33.0,65.0,2020-04-01,237,AFG,142,34,NaN

We have now confirmed that they do have the same features, and we must start using the ts_n dataframes to generate the json data.

## Creating our own dataset

Now that we have chosen the pattern, lets apply some changes in the data and join all the csvs into a single dataframe.

PS: The starting code for creating our own dataset had bugs, which caused inconsistencies in the data used in the visualization. The starting code has now been replaced with a version of the code that works. You can check both versions of the code in previous commits in the GitHub repository.

In [7]:
ts_n_deaths = ts_n_deaths.astype({ 'Value': 'int64' })
ts_n_recov = ts_n_recov.astype({ 'Value': 'int64' })
ts_n_conf = ts_n_conf.astype({ 'Value': 'int64' })

ValueError: invalid literal for int() with base 10: '#affected+infected+value+num'

Now we need to structure the data in an useful way to manipulate it when creating our visualization. For that, it is interesting to remove the province identification and keep the identification by Country and Date. Therefore, we are grouping the data by Country and Date, and the value in the Confirmed, Recovered and Death will be the sum of the values in each province.

For example, if in February 1st we had the rows:
```
USA - Arizona - 21 Confirmed - 0 Recovered - 0 Deaths,
USA - California - 97 Confirmed - 1 Recovered - 3 Deaths,
USA - Idaho - 2 Confirmed - 0 Recovered - 0 Deaths,
USA - Texas - 210 Confirmed - 5 Recovered - 2 Deaths
```

The result of the groupby would be:
```
USA - 330 Confirmed - 6 Recovered - 5 Deaths
```

In [ ]:
grouped_deaths = ts_n_deaths.groupby(['Country/Region', 'Date']).agg({ 'Value': 'sum' })
grouped_recov = ts_n_recov.groupby(['Country/Region', 'Date']).agg({ 'Value': 'sum' })
grouped_conf = ts_n_conf.groupby(['Country/Region', 'Date']).agg({ 'Value': 'sum' })

In [ ]:
grouped_deaths.columns = ['Deaths']
grouped_recov.columns = ['Recovered']
grouped_conf.columns = ['Confirmed']

In [ ]:
grouped = grouped_deaths.merge(grouped_recov, left_index=True, right_index=True)
grouped = grouped.merge(grouped_conf, left_index=True, right_index=True)
grouped.reset_index(drop=False, inplace=True)
grouped.head(10)

In [ ]:
grouped.to_csv(f'{datapath}/covid_data.csv')

## Creating Jsons

Now we will generate our json using the data we have previously seen:

In [ ]:
countries = grouped['Country/Region'].unique()
covid_jsons = []

In [ ]:
for country in countries:
    ts_segment = grouped[grouped['Country/Region'] == country].copy().reset_index()
    
    covid_json = {
        'country': country,
        'latitude': ts_n_deaths.loc[1]['Lat'],
        'longitude': ts_n_deaths.loc[1]['Long'],
        'dates': ts_segment['Date'].tolist(),
        'confirmed': ts_segment['Confirmed'].tolist(),
        'deaths': ts_segment['Deaths'].tolist(),
        'recovered': ts_segment['Recovered'].tolist()
    }
    covid_jsons.append(covid_json)

In [ ]:
with open(f'{datapath}/covid_data.json', 'w') as json_path:
    json.dump(covid_jsons, json_path)

### Quick problem when creating the map

When we first created the map in the `Generating Map` notebook, some of the countries such as the US have not appeared in the map. The probable cause of this problem is a wrong mapping between the keys in the json we just generated and the name that exists in the `.shp` file. Lets see if it is the case:

PS: The data was updated later, including the ISO code for each country. Since our mapping was already done, lets keep it that way.

In [ ]:
def load_shp_countries():
    fname = 'plane_countries.ndjson'
    with open(f'{datapath}/{fname}', 'r') as ndjson:
        lines = ndjson.readlines()
        
    countries = []
    for line in lines:
        jsline = json.loads(line)
        ci = jsline['properties']['COUNTRY']
        countries.append(ci)
    c_set = set(countries)
    return c_set

In [ ]:
shp_countries = load_shp_countries()
country_set = set(countries.tolist())

In [ ]:
diff1 = list(country_set - shp_countries.intersection(country_set))
diff1.sort()

diff2 = list(shp_countries - shp_countries.intersection(country_set))
diff2.sort()

In [ ]:
print("; ".join(diff1))
print()
print("; ".join(diff2))

Since our assumption was correct, we now need to map (using human knowledge and the internet to prevent mismatches) the country names in the country set to the names in the shp set:

In [ ]:
mapping = {
    'Congo (Brazzaville)': 'Congo',
    'Congo (Kinshasa)': 'Democratic Republic of the Congo',
    'Cote d\'Ivoire': 'Ivory Coast',
    'Czechia': 'Czech Republic',
    'French Guiana': 'French Guiana (France)',
    'Greenland': 'Greenland (Denmark)',
    'Guadeloupe': 'Guadeloupe (France)',
    'Guam': 'Guam (US)',
    'Guernsey': 'Guernsey (UK)',
    'Jersey': 'Jersey (UK)',
    'Korea, South': 'South Korea',
    'Martinique': 'Martinique (France)',
    'Mayotte': 'Mayotte (France)',
    'North Macedonia': 'Macedonia',
    'Puerto Rico': 'Puerto Rico (US)',
    'Reunion': 'Reunion (France)',
    'Saint Lucia': 'St. Lucia',
    'Saint Vincent and the Grenadines': 'St. Vincent and the Grenadines',
    'Taiwan*': 'Taiwan',
    'The Bahamas': 'Bahamas',
    'The Gambia': 'Gambia',
    'US': 'United States'
}

In [ ]:
covid_jsons = []
for country in countries:
    ts_segment = grouped[grouped['Country/Region'] == country].copy().reset_index()
    
    covid_json = {
        'country': mapping[country] if country in mapping else country,
        'latitude': ts_n_deaths.loc[1]['Lat'],
        'longitude': ts_n_deaths.loc[1]['Long'],
        'dates': ts_segment['Date'].tolist(),
        'confirmed': ts_segment['Confirmed'].tolist(),
        'deaths': ts_segment['Deaths'].tolist(),
        'recovered': ts_segment['Recovered'].tolist()
    }
    covid_jsons.append(covid_json)

In [ ]:
with open(f'{datapath}/covid_updated.json', 'w') as json_path:
    json.dump(covid_jsons, json_path)

### Manipulating data for the chart

In [ ]:
chart_json = {}
daily_data = {}

for country in countries:
    segment = grouped[grouped['Country/Region'] == country].reset_index()

    daily = []
    for index, row in segment.iterrows():
        daily.append({
            'date': row['Date'],
            'confirmed': row['Confirmed'],
            'deaths': row['Deaths'],
            'recovered': row['Deaths']
        })
        
        if row['Date'] in daily_data:
            daily_data[row['Date']]['confirmed'] += row['Confirmed']
            daily_data[row['Date']]['deaths'] += row['Deaths']
            daily_data[row['Date']]['recovered'] += row['Recovered']
        else:
            daily_data[row['Date']] = {
                'confirmed': row['Confirmed'],
                'deaths': row['Deaths'],
                'recovered': row['Recovered']
            }
    
    country_name = mapping[country] if country in mapping else country
    chart_json[country_name] = {
        'country': country_name,
        'data': daily
    }


world_data = []
for key in daily_data.keys():
    daily_data[key]['date'] = key
    world_data.append(daily_data[key])
world_obj = {
    'country': 'World',
    'data': world_data
}
chart_json['World'] = world_obj

In [ ]:
with open(f'{datapath}/covid_chart.json', 'w') as covid_chart:
    json.dump(chart_json, covid_chart)

In [ ]:
!cp ../data/covid_chart.json ../docs/data/covid_chart.json

## Data Visualizations

In [ ]:
brazil = grouped[grouped['Country/Region'] == 'Brazil'].reset_index(drop=True)

In [ ]:
brazil.head()

In [ ]:
brazil.plot.bar(x='Date', y='Confirmed', title='Casos Confirmados no Brasil', figsize=(16, 12))

In [ ]:
brazil.plot.bar(x='Date', y='Deaths', title='Ã“bitos no Brasil', figsize=(16, 12), color='green')

In [ ]:
brazil.plot.bar(x='Date', y='Recovered', title='Casos de RecuperaÃ§Ã£o no Brasil', figsize=(16, 12), color='red')

In [ ]:
chile = grouped[grouped['Country/Region'] == 'Chile'].reset_index()
# chile = chile.reindex(index=chile.index[::-1])

In [ ]:
chile.plot.bar(x='Date', y='Confirmed', title='Casos Confirmados no Brasil', figsize=(16, 12))

In [ ]:
chile.plot.bar(x='Date', y='Deaths', title='Casos Confirmados no Brasil', figsize=(16, 12), color='green')

In [ ]:
chile.plot.bar(x='Date', y='Recovered', title='Casos Confirmados no Brasil', figsize=(16, 12), color='red')