# Creating our own dataset from Johns Hopkins COVID Dataset

In [1]:
import numpy as np
import pandas as pd
import os, sys, json

We are interested in analyzing the `.csv` files compiled and provided by the Johns Hopkins University, that can be [accessed here](https://data.humdata.org/dataset/novel-coronavirus-2019-ncov-cases). There are 6 different files to analyze: `time_series_2019-ncov-Confirmed.csv`, `time_series_2019-ncov-Recovered.csv`, `time_series_2019-ncov-Deaths.csv`, `time_series-ncov-Confirmed.csv`, `time_series-ncov-Recovered.csv` and `time_series-ncov-Deaths.csv`. As their name says, there are two different styles of file, and we also need to understand what changes between them.

The files are downloaded into the `data/` folder.

In [2]:
datapath = '../data'
ts_2019_deaths = pd.read_csv(f'{datapath}/time_series_2019-ncov-Deaths.csv')
ts_2019_recov = pd.read_csv(f'{datapath}/time_series_2019-ncov-Recovered.csv')
ts_2019_conf = pd.read_csv(f'{datapath}/time_series_2019-ncov-Confirmed.csv')

ts_deaths = pd.read_csv(f'{datapath}/time_series-ncov-Deaths.csv')
ts_recov = pd.read_csv(f'{datapath}/time_series-ncov-Recovered.csv')
ts_conf = pd.read_csv(f'{datapath}/time_series-ncov-Confirmed.csv')

Lets look into the the Confirmed cases file of the pattern that contains `2019` in the name:

In [3]:
ts_2019_conf.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0

We can realize that some columns refer to the identification of the entity, with information such as the name of the country and its latitude and longitude. The rest of the columns refer to every day since January 22, 2020. By generalization, we will assume that the other two files of this pattern have the same column style.

Lets now look what changes between the patterns by looking into the second:

In [4]:
ts_conf.head()

,Province/State,Country/Region,Lat,Long,Date,Value
0,#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num
1,NaN,Afghanistan,33.0,65.0,2020-03-23,40
2,NaN,Afghanistan,33.0,65.0,2020-03-22,40
3,NaN,Afghanistan,33.0,65.0,2020-03-21,24
4,NaN,Afghanistan,33.0,65.0,2020-03-20,24

Besides the first row, which seems to be a header, we now have the same information structured differently: each row represents a day in a Country or a Province, and the `Value` column represents the number of Confirmed cases in that day. Considering that we want to extract the number of Confirmed, Recovered and Death cases, this last structure configuration is more interesting.

Lets look into a Country to confirm that the days have the same range:

In [5]:
ts_conf[ts_conf['Country/Region'] == 'Afghanistan']

   Province/State Country/Region   Lat  Long        Date Value
1             NaN    Afghanistan  33.0  65.0  2020-03-23    40
2             NaN    Afghanistan  33.0  65.0  2020-03-22    40
3             NaN    Afghanistan  33.0  65.0  2020-03-21    24
4             NaN    Afghanistan  33.0  65.0  2020-03-20    24
5             NaN    Afghanistan  33.0  65.0  2020-03-19    22
..            ...            ...   ...   ...         ...   ...
58            NaN    Afghanistan  33.0  65.0  2020-01-26     0
59            NaN    Afghanistan  33.0  65.0  2020-01-25     0
60            NaN    Afghanistan  33.0  65.0  2020-01-24     0
61            NaN    Afghanistan  33.0  65.0  2020-01-23     0
62            NaN    Afghanistan  33.0  65.0  2020-01-22     0

[62 rows x 6 columns]

Since the days also range from January 22, 2020 to March 23, 2020, they are perfect to use. We'll now rename the `Value` column to `Confirmed` and append the `Value` column of both Deaths and Recovered DataFrames into the Confirmed df and then remove the first line:

In [6]:
new_columns = list(ts_conf.columns)[:-1] + ['Confirmed']
ts_conf.columns = new_columns
ts_conf.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num
1,NaN,Afghanistan,33.0,65.0,2020-03-23,40
2,NaN,Afghanistan,33.0,65.0,2020-03-22,40
3,NaN,Afghanistan,33.0,65.0,2020-03-21,24
4,NaN,Afghanistan,33.0,65.0,2020-03-20,24

In [7]:
ts_recov.head()

,Province/State,Country/Region,Lat,Long,Date,Value
0,#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+recovered+value+num
1,NaN,Afghanistan,33.0,65.0,2020-03-23,1
2,NaN,Afghanistan,33.0,65.0,2020-03-22,1
3,NaN,Afghanistan,33.0,65.0,2020-03-21,1
4,NaN,Afghanistan,33.0,65.0,2020-03-20,1

In [8]:
ts_all = ts_conf.copy()
ts_all['Recovered'] = ts_recov['Value']
ts_all['Deaths'] = ts_deaths['Value']
ts = ts_all.loc[1:]
ts = ts.fillna(0)

In [9]:
ts = ts.astype({ 'Confirmed': 'int', 'Recovered': 'int', 'Deaths': 'int' })

In [10]:
ts_all.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Recovered,Deaths
0,#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num,#affected+recovered+value+num,#affected+killed+value+num
1,NaN,Afghanistan,33.0,65.0,2020-03-23,40,1,1
2,NaN,Afghanistan,33.0,65.0,2020-03-22,40,1,1
3,NaN,Afghanistan,33.0,65.0,2020-03-21,24,1,0
4,NaN,Afghanistan,33.0,65.0,2020-03-20,24,1,0

In [11]:
ts.to_csv(f'{datapath}/covid_data.csv')

Now we need to structure the data in an useful way to manipulate it when creating our visualization. For that, it is interesting to remove the province identification and keep the identification by Country and Date. Therefore, we are grouping the data by Country and Date, and the value in the Confirmed, Recovered and Death will be the sum of the values in each province.

For example, if in February 1st we had the rows:
```
USA - Arizona - 21 Confirmed - 0 Recovered - 0 Deaths,
USA - California - 97 Confirmed - 1 Recovered - 3 Deaths,
USA - Idaho - 2 Confirmed - 0 Recovered - 0 Deaths,
USA - Texas - 210 Confirmed - 5 Recovered - 2 Deaths
```

The result of the groupby would be:
```
USA - 330 Confirmed - 6 Recovered - 5 Deaths
```

In [12]:
ts_grouped = ts.groupby(['Country/Region', 'Date']).agg({ 'Confirmed': 'sum', 'Recovered': 'sum', 'Deaths': 'sum' })

Now we will generate our json using the data we have previously seen:

In [13]:
countries = ts['Country/Region'].unique()
covid_jsons = []

In [14]:
for country in countries:
    ts_segment = ts[ts['Country/Region'] == country].copy().reset_index()
    ts_grouped_segment = ts_grouped.loc[country].reset_index()
    
    covid_json = {
        'country': country,
        'latitude': ts_segment.loc[0]['Lat'],
        'longitude': ts_segment.loc[0]['Long'],
        'dates': ts_grouped_segment['Date'].tolist(),
        'confirmed': ts_grouped_segment['Confirmed'].tolist(),
        'deaths': ts_grouped_segment['Deaths'].tolist(),
        'recovered': ts_grouped_segment['Recovered'].tolist()
    }
    covid_jsons.append(covid_json)

In [15]:
with open(f'{datapath}/covid_data.json', 'w') as json_path:
    json.dump(covid_jsons, json_path)